.Burger {
    width: 100%;
    margin: auto;
    margin-top: 14%;
    height: 380px;
    overflow-y: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    box-sizing: content-box;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

@media (min-width: 500px) and (min-height: 400px) {
    .Burger {
        margin-top: 8.5%;
        width: 350px;
        height: 300px
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Burger {
        margin-top: 5%;
        width: 450px;
        height: 330px
    }
}

@media (min-width: 500px) and (max-width: 800px) {
    .Burger {
        margin-top: 10%;
        width: 450px;
        height: 350px
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Burger {
        margin-top: 5%;
        width: 700px;
        height: 400px
    }
}